
/* h1{
    margin-left: 450px;
} */
/* style : App parts components  */
.styl-50{
    width: 50%;
}

.tc{
    text-align: center;
    margin: auto;
}

.styl-5{
    margin-top:50px;
    margin-bottom: 50px;
    font-style:italic;
}

.styl-3{
    margin-top: 11px;
}