/* style for tooltip components */

.tooltip {
  margin-top: 25px;
  height: 50px;
  width: 400px;
  position: relative;
  display: inline-block;
  border: 2px solid black;
  margin-top: 15px;
  padding-top: 25px;
  background-color: #41ef4b;
  border-radius: 50%;
  color: black;
  font-size: larger;
  text-align: center;
}
/* styling tooltip text */
.tooltiptext {
  width: 200px;
  background-color: #f32d2d;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px 8px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  transition: visibility 0.2s;
}
/* styling top */
.top {
  bottom: 100%;
  left: 50%;
  margin-bottom: 7px;
  margin-left: -100px;
}
/* styling bottom */
.bottom {
  top: 100%;
  left: 50%;
  margin-top: 7px;
  margin-left: -100px;
}
/* styling left */
.left {
  right: 100%;
  top: -0%;
  margin-right: 7px;
}
/* styling right */
.right {
  left: 100%;
  top: 0%;
  margin-left: 7px;
}

.top::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.bottom::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.left::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.right::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
